/* Journey to the Center of the Earth Practicum */
/* Ryan Marzigliano */


/* Body */

body {
    margin: .1em;
    padding: 10px;
    background-image: linear-gradient(#765729, black);
    
}

/*header*/

header {
    text-align:center;
    font-size: 15pt;
    font-family: Georgia;
    color: white;
    text-shadow: 5px 3px 3px black;
    border: 6px solid #886644;
    margin:.1em;
    padding:30px;
    box-shadow: inset 10px 10px 10px black;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: url(/img/cave.jpg);
    background-size: 1000px 300px;
}

h2 {
    border-bottom: dotted;
    margin: 30px;
    text-align: left;
}

/*nav*/

nav {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 10px 10px 10px gray;
    background-color: rgba(255, 255, 255, 0.75);
    
}

nav li{
    padding: 10px;
    display: inline-block;
    border-right: #765729 4px double;
}

nav li:last-child {
    border:none;
}

/*Main*/

p:first-of-type::first-line {
    font-size: 15pt;
}

main{

    text-align:left;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 10px 10px 10px gray;
    background-color: rgba(255, 255, 255, 0.75);
}

main li {
    text-align: left;
}

/* Book Image */
#cover {
    float: left;
    padding:20px;
    
}

/* Cryptogram text */

#cryptogram {
    text-align:center;
    font-style: italic;

}



/*Aside*/

aside {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 10px 10px 10px gray;
    background-color: rgba(255, 255, 255, 0.75);
}



/*Footer*/

footer {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 10px 10px 10px gray;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(255, 255, 255, 0.75);
}

/*Book Reviews*/

.opinion {
    font-size:15pt;
}

.submission {
    border: 5px solid;
    background-color: lightgray;
    padding: 3px;
    margin: 5px;
}

.signature {
    font-style: italic;
    text-align: right;
}

/* Character names */

.character{
    font-weight:bold;
}

/* Language Fonts*/

span {
    font-style: italic;
}

/*Book reviews*/


/*Links*/

a:link {
    color: black;
    text-decoration: none;
  }

a:hover {
    color: #A52A2A;
    text-decoration: underline;
}




/* tablet size */

@media screen and (min-width: 786px) {

    header {
        font-size: 15pt;
    }

    

    aside {
        display: grid;
        grid-template-columns: 65 65px;
    }

}

/* desktop screen size */

@media screen and (max-width: 1024px) {
    
    aside {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    
    }
    

}


div {
    max-width:1200px;
}





