/* Journey to the Center of the Earth Practicum */
/* Ryan Marzigliano */



body {
    margin: .1em;
    padding: 10px
   
}

header {
    text-align:center;
    font-size: 10pt;
    border: 6px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 5px 5px 2px gray;
    border-radius: 15px 15px 0px 0px;
}

nav {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 5px 5px 2px gray;
}

main{
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 5px 5px 2px gray;
}

aside {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 5px 5px 2px gray;
}

footer {
    text-align:center;
    font-size: 10pt;
    border: 5px solid #886644;
    margin:.1em;
    padding:10px;
    box-shadow: inset 5px 5px 2px gray;
    border-radius: 0px 0px 15px 15px;
}

